.top-header {
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}
.header-menu-link {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
.footer-banner {
  margin-bottom: 40px;
}
.footer-icon {
  padding: 13px;
}
.footer-icon {
  padding: 6px;

  /* border: 1px solid gray; */
  background-color: deepskyblue;
  border-radius: 23px;
  gap: 25px;
  margin: 2px;
}
.footer-icon-img {
  border-radius: 20px;
  background-color: deepskyblue;
}
.footer-button {
  background-color: blue;
  color: white;
  padding: 8px;
  margin-top: 11px;
}
.nearby-section {
  display: flex;
  margin: 65px;
  gap: 10%;
  width: 90%;
}
.nearby-row {
  background-color: aliceblue;
  border-radius: 17px;
  padding: 25px;
}
.store-name {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-family: initial;
}
.faq-main-sec {
  background-color: darkgrey;
  width: 93%;
  justify-content: center;
  text-align: left;
  margin: 47px;
  padding: 40px;
}
.faq-sec-inner {
  margin-left: 116px;
  font-size: 23px;
}
.faq-heading {
  font-size: 20px;
  font-weight: bold;
  color: azure;
  text-align: center;
  padding-bottom: 30px;
}
.min-h-screen {
	width: 97%;
	margin: 20px;
}
.about-main {
	display: flex;
	width: 90%;
	gap: 5%;
	margin-left: 69px;
}
.about-container {
	width: 80%;
	text-align: left;
	font-size: 18px;
	font-style: italic;
}
.about-title {
	font-weight: bold;
	font-size: 45px;
}
.about-btn {
	background-color: aquamarine;
	padding: 7px;
	text-transform: capitalize;
}
.about-img {
	width: 67%;
}
.button-bx {
	gap: 18px;
	padding: 10px;
	text-align: start;
	/* color: darkturquoise; */
}
.store-details {
	background-color: darkgray;
	padding: 5px;
}
.get-direction {
	background-color: yellowgreen;
	padding: 6px;
}

.container.mx-auto {
	background-color: aliceblue;
}
.Features-brand {
	/* margin: 4%; */
	/* background-color: #eff5f5; */
	padding: 2%;
}
.logo-img {
	width: 10%;
	height: 55%;
	padding: 5px;
}
.splide__slide img {
	width: 50%;
}
.splide__track {
	overflow: hidden;
	position: relative;
	z-index: 0;
	margin-left: 68px;
	margin-top: 60px;
  margin-right: 50px;
	/* padding: 31px; */
}
abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	text-decoration: navajowhite;
}
.nearby-card {
	border: 1px solid skyblue;
	box-shadow: crimson;
	padding: 14px;
	border-radius: 20px;
	background-color: honeydew;
}

.location-name-miles.icon-row {
	font-size: 22px;
	font-weight: 583;
	font-style: revert;
	font-family: initial;
	color: darkcyan;
}
.title-name {
	font-size: 22px;
	font-weight: 583;
	font-style: revert;
	font-family: initial;
	color: darkcyan;
}
.splide__slide img {
	width: 50%;
	margin-top: 28px;
}
.flex.p-x-15 {
	padding: 12px;
	font-size: 18px;
	font-family: initial;
	/* font-style: inherit; */
}